*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem =10px*/
    background-color: #fff;
}
.container{
    width: 100%;
    height: auto;
}
.container_2{
    padding: 2rem;
    height: auto;
}
.header-block{
    margin-bottom: 4rem;
    
}
.header{
    display: flex;
    border-bottom: 1px solid;
}
.title{
    font-size: 4rem;
    font-family: 'Lobster', cursive;
}
.subtitle{
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
}
.opblock{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}
.deploy_button3_{
    width: 100%;
    display: flex;
    height:4rem ;
    padding: .5rem;
    align-items: center;
    background-color: #ff733b17;
    border-style: solid;
    border: solid #ff8b48;
    border-width: 2px;
    border-radius: 4px;
    cursor: pointer;    
}
.deploy_button-3_{
    width: 100%;
    display: flex;
    height:4rem ;
    padding: .5rem;
    align-items: center;
    background-color: #ff733b17;
    border-style: solid;
    border: solid #ff8b48;
    border-width: 2px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.get{
    border-radius: 3px;
    padding: .1rem 2rem;
    display: flex;
    align-items: center;
    background-color:#ff8b48;
    height: 100%;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.deploy_butto, span {
    margin-right: 2rem;
}
.try-it-out{
    padding: .5rem  2rem;
    background-color: #5bc4740b;
    border-radius: 6px;
    border: none;
    border: 2px solid rgb(179, 179, 179);
    cursor: pointer;
}
/* table */
.table-align{
    background-color: #f3f3f3;
    border: 2px solid #5bc474;
    border-radius: 4px ;
    border-top: 0;  
    display: none;
}
.parameters-table{
    background-color: #5bc47417;
    padding:1rem ;
}
.opblock-section-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #fff;
}
table.parameters{
    width: 100%;
    border-collapse: collapse;
}
.parameters-tbody tr td{
    
    padding: 1rem;
    vertical-align: top ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
thead.table-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.198);
}
/* .table-header*/ tr th {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
}
.id-input{
    width: 25%;
    height: 2.3rem;
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    padding: .5rem;
}
.file{
    background-color: #f3f3f3;
    padding: .5rem;
    border-radius: 4px;
}
.btn-execute{
    display: none;
}
.execute{
    width: 100%;
    padding: .7rem 0;
    background-color: #4990e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
}
.parameters-2{
    width: 100%;
    border-collapse: collapse;
}
.table-heade-2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.198);
}
.parameters-tbody-2 tr td {
    padding: 1rem;
    vertical-align: top ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.table-container-2{
    background-color: #5bc47417;
    padding:1rem ;
}
.table-align3_{
    background-color: #f3f3f3;
    border: 2px solid #ff733b17;
    border-radius: 4px ;
    border-top: 0;  
    display: none;
    margin-bottom: 4px;
}
.parameters-table2{
    background-color: #ff733b17;
    padding:1rem ;
}
.opblock-section{
    background-color: #fff;
}
.table-container-2_{
    background-color: #ff733b17;
    padding:1rem ;
}